<style>
  form p.field input[type=text], form p.field select { width: 80%; float: none; }
  .hidden { display: none; }
  div.inner label { width: auto; padding-right: 5px; display: inline-block; }
  form p.field span.req { float: none; }
</style>
<%= form_for @address do |f| %>
<fieldset>
  <div class="inner">
    <%= render :partial => 'spree/addresses/form', :locals => {
      :address_name => 'address',
      :address_form => f,
      :address => @address
    } %>
  </div>
  <%= f.submit t(:update) %>
</fieldset>
<% end %>
