<%= form_for @address do |f| %>
<fieldset>
  <%= content_tag(:legend, t(:edit_shipping_address, :scope => :address_book)) %>
  <div class="inner">
    <%= render :partial => 'spree/addresses/form', :locals => {
      :address_name => 'address',
      :address_form => f,
      :address_type => 'shipping',
      :address => @address
    } %>
  </div>
  <%= f.submit t(:update) %>
</fieldset>
<% end %>
