/*
 * Placeholder manifest file.
 * the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
 *
 *= require spree/frontend
 *= require_tree .
 */

div.inner {
  input[type=text], select { width: 80%; }
}

div#checkout #checkout_form_address {
  #billing, #shipping {
    .select_address label { float: none; }
    input[type=radio] { width: auto; }
  }
}

.hidden { display: none; }
